.card{
  width: 400px;
  height: 550px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 30px;
}
.card img {
  width: 300px;
  height: 300px;
  transition: 0.5s ease-in-out;
}
section{
  display: flex;
  flex-wrap: wrap;
}

/*.card img:hover{
  width: 350px;
  height: 350px;
}*/ 
